html{scroll-behavior:smooth;

}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/bank.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    width: 100%;
    background-color: #333;
    overflow: hidden;
}

.navbar a{
    float: left;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.Dropdown{
    float: left;
    overflow: hidden;

}

.Dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 14px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .Dropdown:hover .btn{
    background-color:red;

}

.Dropdown-content{
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160PX;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.Dropdown-content a{
    float: none;
    color: black;
    padding: 12px 14px;
    text-align: left;
    text-decoration: none;
    display: block;

}
.Dropdown-content a:hover{
    background-color:#ddd;
}

.Dropdown:hover .Dropdown-content{
    display: block;
}

.user a{
    float: right;
}